@use '../abstracts/variables' as var;
.bg--custom{
        background: linear-gradient(to right, var.$start-color, var.$end-color);
}
.bg-body-tertiary{
    background: linear-gradient(90deg,var.$azul ,var.$naranjo,var.$rosado);
    color: var.$white;
}
